In [33]:
# pandas library
import pandas as pd
# used to extract the files from kaggle
import zipfile
# used to download from kaggle
import kaggle

In [34]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [35]:
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [36]:
bikes_df = pd.read_csv("london_merged.csv")

In [37]:
bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [38]:
bikes_df.shape

(17414, 10)

In [39]:
bikes_df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [41]:
bikes_df.weather_code

0        3.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
17409    3.0
17410    4.0
17411    4.0
17412    4.0
17413    2.0
Name: weather_code, Length: 17414, dtype: float64

In [42]:
bikes_df.value_counts()

timestamp            cnt   t1    t2    hum   wind_speed  weather_code  is_holiday  is_weekend  season
2015-01-04 00:00:00  182   3.0   2.0   93.0  6.0         3.0           0.0         1.0         3.0       1
2016-05-04 12:00:00  1482  17.0  17.0  39.0  17.5        1.0           0.0         0.0         0.0       1
2016-05-04 18:00:00  4133  16.5  16.5  26.0  17.5        1.0           0.0         0.0         0.0       1
2016-05-04 17:00:00  4312  17.0  17.0  38.0  17.0        1.0           0.0         0.0         0.0       1
2016-05-04 16:00:00  2292  17.5  17.5  39.5  13.0        1.0           0.0         0.0         0.0       1
                                                                                                        ..
2015-09-03 17:00:00  3430  15.5  15.5  57.0  16.0        2.0           0.0         0.0         2.0       1
2015-09-03 18:00:00  3075  15.0  15.0  59.0  10.0        2.0           0.0         0.0         2.0       1
2015-09-03 19:00:00  1855  14.0  14.0  65.5  18.0        7.0           0.0         0.0         2.0       1
2015-09-03 20:00:00  1086  13.5  13.5  69.5  9.0         7.0           0.0         0.0         2.0       1
2017-01-03 23:00:00  139   5.0   1.0   76.0  22.0        2.0           0.0         0.0         3.0       1
Name: count, Length: 17414, dtype: int64